In [1]:
import numpy as np
import pandas as pd

In [2]:
labels = ['a', 'b', 'c']
numers = [10, 20, 30]

In [3]:
npNumers = np.array(numers)

In [9]:
type(npNumers)

numpy.ndarray

In [7]:
type(numers)

list

In [6]:
d = {'a':10, 'b':20, 'c':30}

In [16]:
series = pd.Series(labels, index = numers)

In [19]:
series

10    a
20    b
30    c
dtype: object

# DATAFRAMES

In [23]:
from numpy import random
np.random.rand(5,4)

array([[0.45102388, 0.87675155, 0.72994858, 0.81594456],
       [0.24927381, 0.21047451, 0.76281111, 0.58694219],
       [0.0688832 , 0.90685114, 0.84283442, 0.74924015],
       [0.97760957, 0.02547814, 0.30164378, 0.21977178],
       [0.06802183, 0.27960829, 0.32079832, 0.36850986]])

In [24]:
from numpy.random import randn

In [25]:
np.random.seed(101)

In [29]:
df = pd.DataFrame(randn(5,4), index = 'A B C D E'.split(), columns = 'W X Y Z'.split())

In [30]:
df

          W         X         Y         Z
A -0.993263  0.196800 -1.136645  0.000366
B  1.025984 -0.156598 -0.031579  0.649826
C  2.154846 -0.610259 -0.755325 -0.346419
D  0.147027 -0.479448  0.558769  1.024810
E -0.925874  1.862864 -1.133817  0.610478

In [33]:
row1 = df.loc['A']

W   -0.993263
X    0.196800
Y   -1.136645
Z    0.000366
Name: A, dtype: float64

In [41]:
df[['W','X']]

          W         X
A -0.993263  0.196800
B  1.025984 -0.156598
C  2.154846 -0.610259
D  0.147027 -0.479448
E -0.925874  1.862864

In [42]:
df['Division'] = df['Y']/df['Z']

In [46]:
df.dtypes

W           float64
X           float64
Y           float64
Z           float64
Division    float64
dtype: object

In [47]:
df.drop('B')

          W         X         Y         Z     Division
A -0.993263  0.196800 -1.136645  0.000366 -3101.522093
C  2.154846 -0.610259 -0.755325 -0.346419     2.180384
D  0.147027 -0.479448  0.558769  1.024810     0.545242
E -0.925874  1.862864 -1.133817  0.610478    -1.857262

Dropping on the fly (without inplcae)

In [51]:
df.drop('W', axis = 1, inplace = True)

In [52]:
df

          X         Y         Z     Division
A  0.196800 -1.136645  0.000366 -3101.522093
B -0.156598 -0.031579  0.649826    -0.048596
C -0.610259 -0.755325 -0.346419     2.180384
D -0.479448  0.558769  1.024810     0.545242
E  1.862864 -1.133817  0.610478    -1.857262